:root {
  --text: #3a3742;
  --text-h: #08060d;
  --bg: #fdfdfe;
  --bg-canvas: #f6f5f8;
  --border: #e5e4e7;
  --panel-bg: #ffffff;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --danger: #d1435b;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 15px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #cdd0d6;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --bg-canvas: #1b1c23;
    --border: #2e303a;
    --panel-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --danger: #f0708a;
  }
}

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}
